/* Default color scheme is nord */
html,
nord-colors {
  /* https://www.nordtheme.com/docs/colors-and-palettes */

  --nord-0-polar-night: #2e3440;
  --nord-1-polar-night: #3b4252;
  --nord-2-polar-night: #434c5e;
  --nord-3-polar-night: #4c566a;

  --nord-4-snow-storm: #d8dee9;
  --nord-5-snow-storm: #e5e9f0;
  --nord-6-snow-storm: #eceff4;

  --nord-7-frost: #8fbcbb;
  --nord-8-frost: #88c0d0;
  --nord-9-frost: #81a1c1;
  --nord-10-frost: #5e81ac;

  --nord-11-auroa-red: #bf616a;
  --nord-12-auroa-orange: #d08770;
  --nord-13-auroa-yellow: #ebcb8b;
  --nord-14-auroa-green: #a3be8c;
  --nord-15-auroa-purple: #b48ead;

  /* COLORS TO OVERRIDE */

  --color-background: var(--nord-0-polar-night);
  --color-background-alt: var(--nord-1-polar-night);

  --color-font: var(--nord-6-snow-storm);
  --color-font-alt: var(--nord-4-snow-storm);

  --color-link: var(--nord-7-frost);
  --color-link-hover: var(--nord-10-frost);

  --color-danger: var(--nord-11-auroa-red);

  --color-input-background: var(--nord-2-polar-night);
  --color-input-border: var(--nord-3-polar-night);
  --color-input-border-focussed: var(--nord-8-frost);
}
